################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TP 2-LP/x64/Debug
/TP 2-LP/TP 2-LP/x64/Debug
/TP 2-LP/.vs/TP 2-LP/v15/Browse.VC.opendb
